UplandIntegrations/UplandIntegrations/Service References/TenroxAssignmentService/Tenrox.Shared.Utilities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tenrox.Shared.Utilities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tenrox.Shared.Utilities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticatedGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForceTenrox" type="xs:boolean" />
      <xs:element minOccurs="0" name="IPAddressField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserToken" nillable="true" type="tns:UserToken" />
</xs:schema>