UplandIntegrations/UplandIntegrations/Service References/TenroxAssignmentService/Tenrox.Application.SDK.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Tenrox.Application.SDK" elementFormDefault="qualified" targetNamespace="Tenrox.Application.SDK" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Tenrox.Shared.Utilities" />
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Tenrox.Application.SDK" />
  <xs:element name="QueryBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tenrox.Shared.Utilities" minOccurs="0" name="p_token" nillable="true" type="q1:UserToken" />
        <xs:element minOccurs="0" name="p_strWhere" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="values" nillable="true" type="q2:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tenrox.Application.SDK" minOccurs="0" name="QueryByResult" nillable="true" type="q3:ArrayOfAssignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tenrox.Shared.Utilities" minOccurs="0" name="p_userToken" nillable="true" type="q4:UserToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tenrox.Application.SDK" minOccurs="0" name="QueryByAllResult" nillable="true" type="q5:ArrayOfAssignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByUniqueId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tenrox.Shared.Utilities" minOccurs="0" name="p_userToken" nillable="true" type="q6:UserToken" />
        <xs:element minOccurs="0" name="p_intUniqueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByUniqueIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Tenrox.Application.SDK" minOccurs="0" name="QueryByUniqueIdResult" nillable="true" type="q7:Assignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Tenrox.Shared.Utilities" minOccurs="0" name="userToken" nillable="true" type="q8:UserToken" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Tenrox.Application.SDK" minOccurs="0" name="p_toSave" nillable="true" type="q9:Assignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Tenrox.Application.SDK" minOccurs="0" name="SaveResult" nillable="true" type="q10:Assignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Tenrox.Shared.Utilities" minOccurs="0" name="userToken" nillable="true" type="q11:UserToken" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Tenrox.Application.SDK" minOccurs="0" name="p_toSave" nillable="true" type="q12:ArrayOfAssignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Tenrox.Application.SDK" minOccurs="0" name="SaveAllResult" nillable="true" type="q13:ArrayOfAssignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Tenrox.Shared.Utilities" minOccurs="0" name="token" nillable="true" type="q14:UserToken" />
        <xs:element minOccurs="0" name="p_strId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Tenrox.Application.SDK" minOccurs="0" name="QueryByIdResult" nillable="true" type="q15:ArrayOfAssignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Tenrox.Shared.Utilities" minOccurs="0" name="token" nillable="true" type="q16:UserToken" />
        <xs:element minOccurs="0" name="p_strName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Tenrox.Application.SDK" minOccurs="0" name="QueryByNameResult" nillable="true" type="q17:ArrayOfAssignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Tenrox.Shared.Utilities" minOccurs="0" name="token" nillable="true" type="q18:UserToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Tenrox.Application.SDK" minOccurs="0" name="CreateNewResult" nillable="true" type="q19:Assignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OptomisticSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Tenrox.Shared.Utilities" minOccurs="0" name="p_strToken" nillable="true" type="q20:UserToken" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Tenrox.Application.SDK" minOccurs="0" name="p_toSave" nillable="true" type="q21:ArrayOfAssignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OptomisticSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OptomisticSaveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>