EPMLiveCore/EPMLiveCore/Web References/UsageTracking/SiteUsageTracking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://epmlive.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://epmlive.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://epmlive.com/">
      <s:element name="PostUsageTrackingInfoToTotango">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pageTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toolKitOrderNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostUsageTrackingInfoToTotangoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostUsageTrackingInfoToTotangoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostUsageTrackingInfoToTotangoSoapIn">
    <wsdl:part name="parameters" element="tns:PostUsageTrackingInfoToTotango" />
  </wsdl:message>
  <wsdl:message name="PostUsageTrackingInfoToTotangoSoapOut">
    <wsdl:part name="parameters" element="tns:PostUsageTrackingInfoToTotangoResponse" />
  </wsdl:message>
  <wsdl:portType name="SiteUsageTrackingSoap">
    <wsdl:operation name="PostUsageTrackingInfoToTotango">
      <wsdl:input message="tns:PostUsageTrackingInfoToTotangoSoapIn" />
      <wsdl:output message="tns:PostUsageTrackingInfoToTotangoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SiteUsageTrackingSoap" type="tns:SiteUsageTrackingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostUsageTrackingInfoToTotango">
      <soap:operation soapAction="http://epmlive.com/PostUsageTrackingInfoToTotango" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SiteUsageTrackingSoap12" type="tns:SiteUsageTrackingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostUsageTrackingInfoToTotango">
      <soap12:operation soapAction="http://epmlive.com/PostUsageTrackingInfoToTotango" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiteUsageTracking">
    <wsdl:port name="SiteUsageTrackingSoap" binding="tns:SiteUsageTrackingSoap">
      <soap:address location="http://localhost:8080/UsageTracking/SiteUsageTracking.asmx" />
    </wsdl:port>
    <wsdl:port name="SiteUsageTrackingSoap12" binding="tns:SiteUsageTrackingSoap12">
      <soap12:address location="http://localhost:8080/UsageTracking/SiteUsageTracking.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>