EPMLive.Integration.Misc/Service References/TenroxDataService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="Tenrox.Application.SDK" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExecuteStoredProcedure" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="Tenrox.Application.SDK" location="" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IExecuteStoredProcedure" type="i0:IExecuteStoredProcedure">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunStoredProcedure">
      <soap:operation soapAction="RunStoredProcedure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TenroxFaultContractFault">
        <soap:fault use="literal" name="TenroxFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunStoredProcedureExecute">
      <soap:operation soapAction="RunStoredProcedureExecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TenroxFaultContractFault">
        <soap:fault use="literal" name="TenroxFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunStoredProcedureNonQuery">
      <soap:operation soapAction="RunStoredProcedureNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TenroxFaultContractFault">
        <soap:fault use="literal" name="TenroxFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunStoredProcedureScalar">
      <soap:operation soapAction="RunStoredProcedureScalar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TenroxFaultContractFault">
        <soap:fault use="literal" name="TenroxFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunStoredProcedureDataSet">
      <soap:operation soapAction="RunStoredProcedureDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TenroxFaultContractFault">
        <soap:fault use="literal" name="TenroxFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunStoredProcedureSerialized">
      <soap:operation soapAction="RunStoredProcedureSerialized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TenroxFaultContractFault">
        <soap:fault use="literal" name="TenroxFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessErrorMessages">
      <soap:operation soapAction="ProcessErrorMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TenroxFaultContractFault">
        <soap:fault use="literal" name="TenroxFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExecuteStoredProcedure">
    <wsdl:port name="BasicHttpBinding_IExecuteStoredProcedure" binding="tns:BasicHttpBinding_IExecuteStoredProcedure">
      <soap:address location="http://srv-dev-outside.federation.com/TWebService/sdk/ExecuteStoredProcedure.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>