ProjectPublisher2016/ProjectPublisher2016/Web References/WSSService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://epmlive.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://epmlive.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://epmlive.com/">
      <s:element name="addUserToSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteguid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webguid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUserToSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addUserToSiteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getWebRequests">
        <s:complexType />
      </s:element>
      <s:element name="getWebRequestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getWebRequestsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSites">
        <s:complexType />
      </s:element>
      <s:element name="getSitesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSitesResult" type="tns:ArrayOfSiteInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSiteInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SiteInfo" nillable="true" type="tns:SiteInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SiteInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addUserToSiteSoapIn">
    <wsdl:part name="parameters" element="tns:addUserToSite" />
  </wsdl:message>
  <wsdl:message name="addUserToSiteSoapOut">
    <wsdl:part name="parameters" element="tns:addUserToSiteResponse" />
  </wsdl:message>
  <wsdl:message name="getWebRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:getWebRequests" />
  </wsdl:message>
  <wsdl:message name="getWebRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:getWebRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="getSitesSoapIn">
    <wsdl:part name="parameters" element="tns:getSites" />
  </wsdl:message>
  <wsdl:message name="getSitesSoapOut">
    <wsdl:part name="parameters" element="tns:getSitesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="addUserToSite">
      <wsdl:input message="tns:addUserToSiteSoapIn" />
      <wsdl:output message="tns:addUserToSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getWebRequests">
      <wsdl:input message="tns:getWebRequestsSoapIn" />
      <wsdl:output message="tns:getWebRequestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSites">
      <wsdl:input message="tns:getSitesSoapIn" />
      <wsdl:output message="tns:getSitesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addUserToSite">
      <soap:operation soapAction="http://epmlive.com/addUserToSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWebRequests">
      <soap:operation soapAction="http://epmlive.com/getWebRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSites">
      <soap:operation soapAction="http://epmlive.com/getSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addUserToSite">
      <soap12:operation soapAction="http://epmlive.com/addUserToSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWebRequests">
      <soap12:operation soapAction="http://epmlive.com/getWebRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSites">
      <soap12:operation soapAction="http://epmlive.com/getSites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://jasondev2008/wssservice/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://jasondev2008/wssservice/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>