EPMLiveCore/EPMLiveCore/Web References/AppStoreReporting/appstore.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://epmlive.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://epmlive.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://epmlive.com/">
      <s:element name="AddStoreInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddStoreInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddStoreInformationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddStoreInformationSoapIn">
    <wsdl:part name="parameters" element="tns:AddStoreInformation" />
  </wsdl:message>
  <wsdl:message name="AddStoreInformationSoapOut">
    <wsdl:part name="parameters" element="tns:AddStoreInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="AppStoreSoap">
    <wsdl:operation name="AddStoreInformation">
      <wsdl:input message="tns:AddStoreInformationSoapIn" />
      <wsdl:output message="tns:AddStoreInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AppStoreSoap" type="tns:AppStoreSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStoreInformation">
      <soap:operation soapAction="http://epmlive.com/AddStoreInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AppStoreSoap12" type="tns:AppStoreSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStoreInformation">
      <soap12:operation soapAction="http://epmlive.com/AddStoreInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppStore">
    <wsdl:port name="AppStoreSoap" binding="tns:AppStoreSoap">
      <soap:address location="https://billing.epmlive.com/appstore/appstore.asmx" />
    </wsdl:port>
    <wsdl:port name="AppStoreSoap12" binding="tns:AppStoreSoap12">
      <soap12:address location="https://billing.epmlive.com/appstore/appstore.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>